[Unit]
Description=collector-jira Service
After=network.target
[Service]
Type=simple
User=root
ExecStart=/bin/java -jar /opt/dashboard/jira-feature-collector-3.1.1-SNAPSHOT.jar --spring.config.name=feature --spring.config.location=/opt/dashboard/application.properties -Dlogging.config=file:/opt/dashboard/logback_jira.xml
Restart=on-abort
[Install]
WantedBy=multi-user.targe
