[Unit]
Description=collector-sonar Service
After=network.target
[Service]
Type=simple
User=root
ExecStart=/bin/java -jar /opt/dashboard/sonar-codequality-collector-3.1.1-SNAPSHOT.jar --spring.config.name=sonar --spring.config.location=/opt/dashboard/application.properties -Dlogging.config=file:/opt/dashboard/logback_sonar.xml
Restart=on-abort
[Install]
WantedBy=multi-user.target
